body {
  background-image: url("../Images/OPULENCE.png");
  background-repeat: no-repeat;
  background-size: cover;
}

nav li {
  display: inline;
  margin-left: 30px;
  margin-bottom: 20%;
}

nav li a {
  text-decoration: none;
  padding: 10px;
  color: #ff914d;
  text-size: 10px;
  font-size: 130%;
  font-family: 'IM Fell French Canon', serif;
}

a:hover {
  color: black;
  background-color: white;
  text-decoration: underline;
}

.first {
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: 'IM Fell French Canon', serif;
}

h1 {
  text-align: center;
  font-size: 80px;
  color: white;
  margin-top: 12%;
  color: #ff914d;
  font-family: 'Gilda Display', serif;
}
#rich {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 22px;
  margin-left: 30px;
  text-align: left;
  margin-left: 130px;
}
.yomi  {
 float: right;
 margin: 0 0 0 15px;
 margin-left: 30px;
}
#me {
  flex-direction: column;
  color: white;
  font-size: 22px;
  margin-left: 90px;
}
.call{
  color: white;
  font-size: 22px;
  margin-left: 70px;
}
a:link {
  color: #ff914d;
}
