body{
  display:flex;
  background-image: url("/home/moringa/Documents/moringa-school-projects/Portfolio-Landing-Page/Images/OPULENCE.png");
  background-repeat: no-repeat;
  background-size: cover;
}
